tags
TAGS
*.swp
*.gcda
vgcore*

# Binaries
derpgp
t/*
!t/*.py
!t/*.asc
!t/*.gpg
!t/*.key
!t/*.der
!t/*.pem
!t/*.c
!t/*.h
!t/README.md
!t/COPYING
gnupg/

# gpghome
gpghome/*
!gpghome/gpg.conf

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.d

# Libraries
*.lib
*.a
*.la
*.lo
!lib/libgcrypt.*a
!lib/libgpg-error.*a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
.derpgp_history
*.tar.gz
debug.mk
error_log.txt
